

body {
	background: lightblue;
	color: black;
	font-size: 14pt;
	}
	
h1 {font-size: 200%;
	font-weight: bold;
	color:purple;
}

a {color:purple;
	text-decoration: underline;}
a:hover {color:darkred}
